{% extends 'admin/base.html.twig' %}

{% block head_stylesheets %}
    {{ parent() }}
    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{{asset('assets/app-assets/vendors/css/vendors.min.css' ~ asset_version) }}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css' ~ asset_version) }}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/app-assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css' ~ asset_version) }}">
    <link rel="stylesheet" type="text/css" href="{{asset('assets/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' ~ asset_version) }}">
    <!-- END: Vendor CSS-->
    <link href="{{ asset('assets/app/css/certificateUploadModal.css' ~ asset_version) }}" type="text/css" rel="stylesheet"/>
    <link href="{{ asset('assets/app/css/certificates.css' ~ asset_version) }}" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <div class="page-header">

        <div><h1 class="page-title">{{ 'Certificates'|trans }}</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin') }}">Admin</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ 'Certificates'|trans }}</li>
            </ol>
        </div>

    </div>

    <!-- Responsive Datatable -->
    <section id="responsive-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h4 class="card-title">{{ 'Certificates'|trans }}</h4>
                        <div class="position-absolute top-1 end-0 pe-3">
                            <button id="certificateModal" type="submit" class="btn btn-success" data-toggle="modal"
                                    data-target="#certificationUploadModal">
                                {{ 'Add Certificate'|trans }}
                            </button>
                        </div>
                    </div>
                    <div class="card-datatable">
                        <table id="certificateTable" class="dt-responsive table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'Partner Id'|trans }}</th>
                                <th>{{ 'Type'|trans }}</th>
                                <th>{{ 'Organization'|trans }}</th>
                                <th>{{ 'MP-Type'|trans }}</th>
                                <th>{{ 'Energy'|trans }}</th>
                                <th>{{ 'Active'|trans }}</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>{{ 'Partner Id'|trans }}</th>
                                <th>{{ 'Type'|trans }}</th>
                                <th>{{ 'Organization'|trans }}</th>
                                <th>{{ 'MP-Type'|trans }}</th>
                                <th>{{ 'Energy'|trans }}</th>
                                <th>{{ 'Active'|trans }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Responsive Datatable -->


    <input id="showSuccessMessage" type="hidden" value="{{ showSuccess }}"/>

    {% include 'admin/content/certificate/certificateUploadModal.html.twig' %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{asset('assets/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js' ~ asset_version) }}"></script>
    <script src="{{asset('assets/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js' ~ asset_version) }}"></script>
    <script src="{{asset('assets/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js' ~ asset_version) }}"></script>
    <script src="{{asset('assets/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.js' ~ asset_version) }}"></script>
    <script src="{{asset('assets/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' ~ asset_version)}}"></script>
    <script defer src="{{ asset('assets/app/js/certificate.js' ~ asset_version) }}"></script>
{% endblock %}
