{% extends '@EasyAdmin/page/content.html.twig' %}

{% if constant('DEPLOY_TIMESTAMP') is defined and constant('DEPLOY_TIMESTAMP') != '{DEPLOY_TIMESTAMP}' %}
    {% set asset_version = '?version=' ~ constant('DEPLOY_TIMESTAMP') %}
{% else %}
    {% set asset_version = '' %}
{% endif %}


{% block head_javascript %} {% endblock %}


{% block head_stylesheets %}
    <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/bootstrap/css/bootstrap.min.css' ~ asset_version ) }}" rel="stylesheet"/>
    <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/css/style.css' ~ asset_version ) }}" rel="stylesheet"/>
    <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/css/skin-modes.css' ~ asset_version ) }}" rel="stylesheet"/>
    <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/css/dark-style.css' ~ asset_version ) }}" rel="stylesheet"/>
    <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/css/sidemenu.css' ~ asset_version ) }}" rel="stylesheet"/>
    <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/p-scroll/perfect-scrollbar.css' ~ asset_version ) }}" rel="stylesheet"/>
    <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/css/icons.css' ~ asset_version ) }}" rel="stylesheet"/>
    <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/sidebar/sidebar.css' ~ asset_version ) }}" rel="stylesheet"/>
    <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/colors/color1.css' ~ asset_version ) }}" rel="stylesheet"/>
    <link href="{{ asset('assets/app/css/sidemenu.css' ~ asset_version ) }}" rel="stylesheet"/>
{% endblock %}


{% block head_metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="generator" content="MPSync App" />
{% endblock head_metas %}


{% block body %}
    <body class="app sidebar-mini">

        <div class="page">
            <div class="page-main">

                {% include 'admin/page/sidebar.html.twig' %}

                <div class="app-content">
                    <div class="side-app">
                        {% block content %} {% endblock content %}
                    </div>
                </div>

            </div>
        </div>


        {% block javascripts %}
            <script type="text/javascript" src="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/js/jquery.min.js' ~ asset_version ) }}"></script>
            <script type="text/javascript" src="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/bootstrap/js/popper.min.js' ~ asset_version ) }}"></script>
            <script type="text/javascript" src="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/bootstrap/js/bootstrap.min.js' ~ asset_version ) }}"></script>
            <script type="text/javascript" src="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/sidebar/sidebar.js' ~ asset_version ) }}"></script>
            <script type="text/javascript" src="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/p-scroll/perfect-scrollbar.js' ~ asset_version ) }}"></script>
            <script type="text/javascript" src="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/p-scroll/pscroll.js' ~ asset_version ) }}"></script>
            <script type="text/javascript" src="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/sidemenu/sidemenu.js' ~ asset_version ) }}"></script>
        {% endblock %}

    </body>
{% endblock body %}
