{% extends 'admin/base.html.twig' %}

 {% block head_stylesheets %}
     {{ parent() }}



     <!-- BEGIN: Vendor CSS-->
     <link rel="stylesheet" type="text/css" href="{{asset('assets/app-assets/vendors/css/vendors.min.css' ~ asset_version) }}">
     <link rel="stylesheet" type="text/css" href="{{asset('assets/app-assets/vendors/css/tables/datatable/dataTables.bootstrap5.min.css' ~ asset_version) }}">
     <link rel="stylesheet" type="text/css" href="{{asset('assets/app-assets/vendors/css/tables/datatable/responsive.bootstrap5.min.css' ~ asset_version) }}">
     <link rel="stylesheet" type="text/css" href="{{asset('assets/app-assets/vendors/css/pickers/flatpickr/flatpickr.min.css' ~ asset_version) }}">
     <!-- END: Vendor CSS-->



 {% endblock %}


{% block content %}

    <div class="page-header">

        <div><h1 class="page-title">{{ 'User'|trans }}</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('admin') }}">{{ 'Admin'|trans }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ 'User'|trans }}</li>
            </ol>
        </div>
    </div>

    <!-- Responsive Datatable -->
    <section id="responsive-datatable">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header border-bottom">
                        <h4 class="card-title">{{ 'User'|trans }}</h4>
                    </div>
                    <div class="card-datatable">
                        <table id="responsiveUserTable" class="dt-responsive table">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>{{ 'Username'|trans }}</th>
                            </tr>
                            </thead>
                            <tfoot>
                            <tr>
                                <th>#</th>
                                <th>{{ 'Username'|trans }}</th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Responsive Datatable -->


{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script src="{{asset('assets/app-assets/vendors/js/tables/datatable/jquery.dataTables.min.js' ~ asset_version) }}"></script>
    <script src="{{asset('assets/app-assets/vendors/js/tables/datatable/dataTables.bootstrap5.min.js' ~ asset_version) }}"></script>
    <script src="{{asset('assets/app-assets/vendors/js/tables/datatable/dataTables.responsive.min.js' ~ asset_version) }}"></script>
    <script src="{{asset('assets/app-assets/vendors/js/tables/datatable/responsive.bootstrap5.js' ~ asset_version) }}"></script>
    <script src="{{asset('assets/app-assets/vendors/js/pickers/flatpickr/flatpickr.min.js' ~ asset_version)}}"></script>

    <script defer src="{{ asset('assets/app/js/user.js') }}"></script>
{% endblock %}
