<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% if constant('DEPLOY_TIMESTAMP') is defined and constant('DEPLOY_TIMESTAMP') != '{DEPLOY_TIMESTAMP}' %}
        {% set asset_version = '?version=' ~ constant('DEPLOY_TIMESTAMP') %}
    {% else %}
        {% set asset_version = '' %}
    {% endif %}
    {% block stylesheets %}
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/images/brand/favicon.ico' ~ asset_version ) }}"/>
        <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/bootstrap/css/bootstrap.min.css' ~ asset_version ) }}" rel="stylesheet"/>
        <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/css/style.css' ~ asset_version ) }}" rel="stylesheet"/>
        <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/css/skin-modes.css' ~ asset_version ) }}" rel="stylesheet"/>
        <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/css/dark-style.css' ~ asset_version ) }}" rel="stylesheet"/>
        <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/single-page/css/main.css' ~ asset_version ) }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/charts-c3/c3-chart.css' ~ asset_version ) }}" rel="stylesheet"/>
        <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/p-scroll/perfect-scrollbar.css' ~ asset_version ) }}" rel="stylesheet"/>
        <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/css/icons.css' ~ asset_version ) }}" rel="stylesheet"/>
        <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/bootstrap/css/bootstrap.css' ~ asset_version ) }}" rel="stylesheet"/>
        <link href="{{ asset('assets/bundles/volgh/BS5-HTML/HTML/volgh/assets/plugins/bootstrap/css/bootstrap.css' ~ asset_version ) }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body class="dark-mode">
{% block body %}{% endblock %}
</body>
</html>
